html {
    box-sizing: border-box;
    height: 100%;
    background: #282828;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

canvas {
    display: block;
    margin: 0 auto;
}
